node_modules/
**/.env
**/build/
**/.expo/
**/coverage/
platforms/
plugins/
www/cordova.js
*.log
artifacts/
data/
www/assets/icons/battery-medium.png
www/assets/icons/signal.png
www/assets/icons/wifi.png
